.btn {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: $default-box-shadow;
    transition: $default-transition;
    
    &__primary {
        background: $secondary-color;
        color: darken($white-color, 5%) !important;
        text-shadow: $default-text-shadow;

        &:hover {
            background: darken($secondary-color, 15%);
            color: darken($white-color, 15%);
        }
    }

    &__secondary {

        &:hover {

        }
    }

    &__no-inner {
        border: 1px solid $white-color;
        color: $white-color;

        &:hover {
            border: 1px solid $secondary-color;
            color: $secondary-color;
        }
    }
}