{% block header %}
<nav class="main-nav">
    <div class="main-nav__inner d-flex">

        <div class="main-nav__inner__logo">
            <a id="logo" href="/" class="main-nav__inner__logo__image"><img
                    src="static/images/logo/beer-time-white-logo.png" alt=""></a>
        </div>

        <ul class="main-nav__inner__nav d-flex ml-auto align-items-center">
            <li class="main-nav__inner__nav__item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="main-nav__inner__nav__item"><a href="{{ url_for('hot') }}">What's Hot</a></li>
            <li class="main-nav__inner__nav__item"><a href="{{ url_for('favourites') }}">Our Favourites</a></li>
            <li class="main-nav__inner__nav__item"><a href="{{ url_for('contact') }}">Contact</a></li>
            <li class="main-nav__inner__nav__item"><a class="btn btn__primary" href="{{ url_for('signIn') }}">Sign
                    In</a></li>
        </ul>

    </div>
</nav>
{% endblock %}