.home-banner {

    &__slick {

        &__slide {
            height: 80vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &__content {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0,0,0,0.8);
                padding: 30px;
                border-radius: 4px;
                color: $secondary-color;

                &__button-wrapper {
                    display: flex;
                }
            }
        }
    }
}

#home-banner-1 {
    background-image: url('../../static/images/banner/beer-banner-image-1.jpg')
}

#home-banner-2 {
    background-image: url('../../static/images/banner/beer-banner-image-2.jpg')
}

#home-banner-3 {
    background-image: url('../../static/images/banner/beer-banner-image-3.jpg')
}
