#sign-in,
#register-page {
    .banner {
        &__slick {
            &__slide {
                height: 40vh;

                &__content {
                    display: none;
                }
            }
        }
    }
}

.sign-in {

    &__title {
        text-align: center;
        padding: 20px 0;
    }
}