#add-beer, #edit-page {
    .banner {
      display: none;
    }
  
    .main-nav {
      background: $primary-color;
      position: unset !important;
    }
  }

.add-beer-title {
    text-align: center;
    padding-bottom: 20px;
}

.add-beer-form {
    max-width: 70%;
    margin: auto;
    display: block;
    background: $default-body-color;

    &__collection {
        box-shadow: $darkest-box-shadow;
    }

    &__text {
        display: inline-flex;
    }    
    
    &__group {
        padding: 15px 25px;
        background: $default-body-color;
        border-bottom: 1px solid rgba(0,0,0,0.2);

        &:last-child {
            border: none;
        }
    }

    input {
        width: 100%;
    }
}

.beer-form-progress {
    background: $default-body-color;
    box-shadow: $darkest-box-shadow;
    height: 100%;
}