#all-beers {
    .banner {
      display: none;
    }
  
    .main-nav {
      background: $primary-color;
      position: unset !important;
    }
  }

.all-beers {
    padding-top: 30px;
    padding-bottom: 50px;
}

.beer-panel {
    margin-top: 20px;

    a {
        color: unset;
    }

    &__excerpt {
        opacity: 0;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $default-transition;
    }

    &__group {
        padding: 20px;
        background: $default-body-color;
        transition: $default-transition;
        box-shadow: $darkest-box-shadow;
        border-radius: 3px;

        &__title {
            text-align: center;
        }

        &:hover {
            .beer-panel__excerpt {
                opacity: 1;
                background: rgba(0,0,0,0.6);
                color: $white-color;
                text-shadow: $default-text-shadow;
            }

            background: $primary-color;

            p {
                color: $secondary-color;
            }

            h2 {
                color: $white-color;
            }
        }

        &__title {
            padding-bottom: 20px;
        }

        &__session-buttons {
            display: inline-flex;
            width: 100%;

            a {
                max-width: 50%;
                margin: auto;
            }
        }
    }    
}