#all-beers {
    .banner {
        display: none;
    }

    .main-nav {
        background: $primary-color;
        position: unset !important;
    }
}

.all-beers {
    padding-top: 30px;
    padding-bottom: 50px;
}

.beer-panel {
    transition: $default-transition;

    &:hover {
        .beer-panel__main-wrapper {
            transition: $default-transition;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
            transform: scale(1.02);
        }
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    &__image {
        background: $default-body-color;
        box-shadow: $darkest-box-shadow;
    }

    &__wrapper {
        padding: 10px;
        background: $default-body-color;
        box-shadow: $darkest-box-shadow;
        margin-bottom: 30px;
    }

    &__text {
        padding: 10px;

        h2 {
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__links {
        display: inline-flex;

        .btn__no-inner {
            padding: 10px;
        }

        form {
            padding: 0 10px;
        }
    }

    &__admin-links {
        display: block;
        width: 100%;

        &__link {
            i {
                font-size: 20px;
                transition: $default-transition;

                &:hover {
                    color: darken($secondary-color, 10%);
                }
            }
        }
    }
}