.beer-page {
  padding-bottom: 80px;
  padding-top: 80px;

  &__hero {
    background: $default-body-color;
    box-shadow: $darkest-box-shadow;
    border-radius: 5px;
  }

  &__left-panel {
    padding: 30px;
  }

  &__right-panel {
    padding: 30px;

    &__title {
      padding-bottom: 10px;
    }

    &__text {
      padding: 5px 0;
    }
  }
}
