#beer-product {
  .banner {
    display: none;
  }

  .main-nav {
    background: $primary-color;
    position: unset !important;
  }
}

.beer-page {
  padding-bottom: 80px;

  &__hero {
    background: $default-body-color;
    box-shadow: $darkest-box-shadow;
    border-radius: 5px;
  }

  &__left-panel {
    padding: 30px;
  }

  &__right-panel {
    padding: 30px;

    &__title {
      padding-bottom: 10px;
    }

    &__text {
      padding: 5px 0;
    }
  }

  &__bottom {

    &__title {
      padding: 20px 0;
    }

    &__yml {
      background: $default-body-color;
      box-shadow: $darkest-box-shadow;
      border-radius: 5px;

      &__image {
        padding: 20px;
      }

      &__text {
        text-align: center;
        padding-bottom: 15px;
        
        a {
          margin-top: 5px;
        }
      }
    }
  }

  &__review {

    &__title {
      padding: 20px 0;
    }

    &__wrapper {
      background: $default-body-color;
      box-shadow: $darkest-box-shadow;
      border-radius: 5px;
    }


    &__form {
      display: none;

      p {
        text-align: center;
      }

      &__group {
        padding: 25px;

        textarea {
          border: none;
          width: 100%;
          padding: 10px;
        }
      }

      &__submit {
        margin: auto;
        display: block;
      }
    }

    &__reviews {
      padding: 10px;
    }

    &__comment {
      padding: 10px;
      p {
        padding: 15px 3px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
      }

      &:last-child {
        p {border: none;}
      }

      &__icons {
        display: flex;
        justify-content: center;

        a {
          padding: 0 5px;
          color: $primary-color;
          transition: $default-transition;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    &__leave-a-review {
      text-align: center;
      padding: 10px;
    }

    &__edit-a-review {
      text-align: center;
      padding: 10px;
      display: none;
    }
  }
}
