#my-list {
  .banner {
    display: none;
  }

  .main-nav {
    background: $primary-color;
    position: unset !important;
  }
}

.my-list {
  text-align: center;
  margin-top: 20px;

  &__title {
    padding-bottom: 40px;
  }

  &__text {
    padding-bottom: 10px;
  }

  &__favourite {
    margin-bottom: 30px;

    &__image {
      background: $default-body-color;
      box-shadow: $darkest-box-shadow;
    }

    &__wrapper {
      padding: 10px;
      background: $default-body-color;
      box-shadow: $darkest-box-shadow;
    }
  }
}