<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head/head.html' %}
</head>
{% include 'components/header/header.html' %}
{% include 'components/header/hidden-nav.html' %}
<body id="{{ body_id }}">
    {% include 'components/banner/top-banner.html' %}
    <main class="page-padding container">
        {% block content %} {% endblock %}
    </main>
    {% block beers_list %} {% endblock %}
    {% include 'components/footer/footer.html' %}
    {% include 'components/overlay.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="{{ url_for('static', filename='js/slick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swal.js') }}"></script>
</body>

</html>