{% extends 'base/base.html' %}
{% block content %}
<section class="row">
    <div class="col-sm-12">
        <h1 class="add-beer-title">Add A Beer</h1>
    </div>
</section>
<section class="add-beer-form-background row">
    <div class="col-sm-6 offset-sm-3">
        <form id="test" action="{{ url_for('insert_beer') }}" method="POST" class="add-beer-form">
            <div class="add-beer-form__collection">
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Name</label>
                    </div>
                    <input id="name" name="name" type="text">
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Brewery</label>
                    </div>
                    <input id="brewery" name="brewery" type="text">
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Beer Types</label>
                    </div>
                    <select name="type" id="type">
                        <option value="" disabled selected>Please select a beer type</option>
                        {% for type in types %}
                        <option value="{{ type.beer_type }}">{{ type.beer_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Excerpt</label>
                    </div>
                    <input id="excerpt" name="excerpt" type="text">
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Notes</label>
                    </div>
                    <input type="text">
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">ABV</label>
                    </div>
                    <input id="abv" name="abv" type="text">
                </div>
                <div class="add-beer-form__group">
                    <div class="add-beer-form__group__text">
                        <label for="name">Image</label>
                    </div>
                    <input id="image" name="image" type="file">
                </div>
                <div class="add-beer-form__group">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}