{% extends 'base/base.html' %}

{% block beers_list %}
<div class="container all-beers">
    <div class="row">
        {% for beer in beers %}
        <div class="col-sm-4">
            <div class="beer-panel">
                <a href="/">
                    <div class="beer-panel__group">
                        <h2 class="beer-panel__group__title">{{ beer.name }}</h2>
                        <p class="beer-panel__excerpt">"{{ beer.excerpt }}"</p>
                        <img class="img-responsive" src="{{ beer.image }}" alt="">
                        <p>Brewery: {{ beer.brewery }}</p>
                        <p>Type: {{ beer.type }}</p>
                        <p>ABV: {{ beer.abv }}</p>
                        {% if session['username'] %}
                            <div class="beer-panel__group__session-buttons">
                                <a class="btn btn__no-inner" href="/my-list">My List</a>
                                <a class="btn btn__primary" href="/add-to-favourites">Favourite</a>
                            </div>
                        {% endif %}
                        <!-- if user is admin -->
                        <a href="{{ url_for('edit_beer', beer_id=beer._id)}}">Edit</a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}