{% extends 'base/base.html' %}
{% block beers_list %}
<div class="container all-beers">
    <div class="row">
        {% for beer in beers %}
        <div class="col-sm-4">
            <div class="beer-panel">
                <a href="/">
                    <div class="beer-panel__group">
                        <h2 class="beer-panel__group__title">{{ beer.name }}</h2>
                        <p class="beer-panel__excerpt">"{{ beer.excerpt }}"</p>
                        <img class="img-responsive" src="{{ beer.image }}" alt="">
                        <p>Brewery: {{ beer.brewery }}</p>
                        <p>{{ beer._id }}</p>
                        <p>Type: {{ beer.type }}</p>
                        <p>ABV: {{ beer.abv }}</p>
                            <div class="beer-panel__group__session-buttons">
                                <a class="btn btn__no-inner" href="/my-list">My List</a>
                                <form class="add-to-favourites" action="{{ url_for('addToFavourites', beer_id=beer._id) }}" method="POST">
                                    {% if beer._id in favourite_beers_id %}
                                        <span>Favourite?</span><input type="checkbox" id="favourite" class="checkedBox">
                                    {% else %}
                                        <span>Favourite?</span><input type="checkbox" id="favourite" class="favourite">
                                    {% endif %}
                                </form>
                            </div>
                        {% if current_user['admin'] == true %}
                        <a href="{{ url_for('edit_beer', beer_id=beer._id)}}">Edit</a>
                        <a href="{{ url_for('delete_beer', beer_id=beer._id)}}">Delete</a>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}