<div class="container">
    <h1 class="page-title">{{ page_title }}</h1>
    <section class="row">
        {% for beer in beers_list %}
        <div class="col-sm-6">
            <div class="f-beers">
                <img class="img-responsive" src="{{ beer.image }}" alt="{{ beer.image_alt }}">
                <h3>{{ beer.name }}</h3>
                <p>{{ beer.type }}</p>
                <p>{{ beer.brewery }}</p>
                <p>{{ beer.excerpt }}</p>
                <p>{{ beer.abv }}</p>
                <div class="f-beers_button">
                    {% if body_id == 'our-favourites' %}
                    <a class="btn btn__no-inner btn__no-inner--alt" href="/our-favourites/{{ beer.url }}">Read More</a>
                    {% endif %}
                    <a class="btn btn__primary" href="">Add To My List</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>