ul,ol,li,p {
    padding: 0;
    margin: 0;
}

a {
    &:active, &:focus, &:hover {
        text-decoration: none;
        border: none;
        outline: none;
    }
}

h1,h2,h3,h4,h5 {
    font-family: 'Permanent Marker', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 1rem;
}

.layout-padding {
    padding: 25px 0;
}

.img-responsive {
    margin: auto;
    max-width: 100%;
}

.page-title {
    padding: 20px 0;
}

#page-banner-1 {
    background-image: url('../../static/images/banner/alt-pages/page-image-1.jpg')
}

#page-banner-2 {
    background-image: url('../../static/images/banner/alt-pages/page-image-2.jpg')
}