<!DOCTYPE html>
<html lang="en">

{% include 'head/head.html' %}

<body id="home-page">

    {% include 'header/header.html' %}
    {% include 'banner/top-banner.html' %}

    <main class="main-body page-padding">
        <div class="container">

            <section class="row company-intro">
                <div class="col-sm-12">
                    <div class="company-intro__block">
                        <h2>Welcome to Beer Time</h2>
                        <p>Have you ever wanted to construct a library of all the fanstatic beers that are available out
                            there? Look no further as you have found Beer Time. Start adding to your list now.</p>
                    </div>
                </div>
            </section>

            <section class="row main-body__highlight-panel">
                <div class="col-sm-12 col-md-8">
                    <div class="main-body__highlight-panel__text">
                        <h1>Featured This Month</h1>
                        <p>Check out the fantastic selection of craft beers from Brewdog, let us know your favourites
                            and share with the rest of the community!</p>
                        <div class="main-body__hightlight-panel__text__buttons">
                            <a class="btn btn__no-inner btn__no-inner--alt" href="{{ url_for('favourites')}}">Read
                                More</a>
                            <a class="btn btn__primary" href="">Add To Favourites</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="main-body__highlight-panel__image">
                        <img class="img-responsive" src="static/images/beer.jpg" alt="Craft Beers by Brewdog">
                    </div>
                </div>
            </section>

            <section class="row beers">
                <div class="col-sm-12">
                    <div class="row beers__slick">
                        {% for beer in beers_list %}
                        <div class="beers__slick__slide">
                            <a class="beers__slick__slide__link" href="/">
                                <div class="beers__slick__slide__image">
                                    <img class="img-responsive" src="../{{ beer.image }}" alt="{{ beer.image_alt }}">
                                </div>
                                <div class="beers__slick__slide__content">
                                    <h3>{{ beer.name }}</h3>
                                    <p>{{ beer.type }}</p>
                                    <p>{{ beer.brewery }}</p>
                                    <p>{{ beer.excerpt }}</p>
                                    <p>{{ beer.abv }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="{{ url_for('static', filename='js/slick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>