<!DOCTYPE html>
<html lang="en">

    {% include 'head/head.html' %}

    <body>

    {% include 'header/header.html' %}
    
    <section class="home-banner">
        <div class="home-banner__slick">
            <div id="home-banner-1" class="home-banner__slick__slide">

            </div>
            <div id="home-banner-2" class="home-banner__slick__slide">

            </div>
            <div id="home-banner-3" class="home-banner__slick__slide">

            </div>
        </div>
    </section>

    <main class="main-body page-padding">
        <div class="container">
            <section class="row">
                <div class="col-sm-12">
                    <h1>This is a test</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorum asperiores ex quod excepturi, assumenda voluptas reiciendis in quasi quaerat facilis consequuntur ratione nostrum cumque labore magni corporis minus laborum!</p>
                </div>
            </section>
        </div>
    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="{{ url_for('static', filename='js/slick.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>