<main class="beer-page">
    <div class="container">
        <section class="row beer-page__hero">
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__left-panel">
                    <p class="beer-page__left-panel__image-wrapper">
                        <img class="img-responsive" src="../{{ beer.image }}" alt="{{ beer.image_alt }}">
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__right-panel">
                    <h1 class="beer-page__right-panel__title">{{ beer.name }}</h1>
                    <p class="beer-page__right-panel__text"><span>Type: </span>{{ beer.type }}</p>
                    <p class="beer-page__right-panel__text"><span>Brewery: </span>{{ beer.brewery }}</p>
                    <p class="beer-page__right-panel__text"><span>ABV (alchohol by volume): </span>{{ beer.abv }}
                    </p>
                    <p class="beer-page__right-panel__text"><span>Tasting Notes: </span>{{ beer.notes }}</p>
                </div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <h2 class="beer-page__review__title">What do other people think?</h2>
                <div class="beer-page__review__wrapper">
                    <div class="beer-page__review__reviews">
                        {% for review in beer_reviews %}
                        <div class="beer-page__review__comment">
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    <h4>{{ review.name }} Says...</h4>
                                    <p>{{ review.review }}</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="beer-page__review__comment__icons">
                                        {% if review.name == session['username'] %}
                                        <a href="{{ url_for('delete_review', beer_id=beer._id)}}"><i
                                                class="fas fa-trash"></i></a>
                                        <a href=""><i class="fas fa-edit"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <form class="beer-page__review__form" action="{{ url_for('add_review', beer_id=beer._id) }}"
                        method="POST">
                        <p>Please type your review in the box below and hit submit.</p>
                        <div class="beer-page__review__form__group hidden">
                            <input type="text" name="name" id="name" value="{{ session['username'] }}">
                        </div>
                        <div class="beer-page__review__form__group">
                            <textarea class="beer-page__review__form__group__message" name="review" id="review"
                                cols="30" rows="10"></textarea>
                        </div>
                        <input class="beer-page__review__form__submit btn btn__primary" type="submit">
                    </form>
                    <div class="beer-page__review__leave-a-review">
                        <a class="btn btn__primary" id="review-selector" href="#">Leave a review</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <h2 class="beer-page__bottom__title">You may also like...</h2>
                <div class="beer-page__bottom row">
                    {% for yml in you_might_like %}
                    {% include 'components/you-might-like.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>