<main class="beer-page">
    <div class="container">
        <section class="row beer-page__hero">
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__left-panel">
                    <p class="beer-page__left-panel__image-wrapper">
                        <img class="img-responsive" src="../{{ beer.image }}" alt="{{ beer.image_alt }}">
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__right-panel">
                    <h1 class="beer-page__right-panel__title">{{ beer.name }}</h1>
                    <p class="beer-page__right-panel__text"><span>Type: </span>{{ beer.type }}</p>
                    <p class="beer-page__right-panel__text"><span>Brewery: </span>{{ beer.brewery }}</p>
                    <p class="beer-page__right-panel__text"><span>ABV (alchohol by volume): </span>{{ beer.abv }}
                    </p>
                    <p class="beer-page__right-panel__text"><span>Tasting Notes: </span>{{ beer.notes }}</p>
                </div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <h2 class="beer-page__review__title">What do other people think?</h2>
                <div class="beer-page__review__wrapper">
                    <div class="beer-page__review__reviews">
                        <div class="beer-page__review__comment">
                            {% for review in reviews %}
                                <h3>{{ review.name }} Says...</h3>
                                <p>{{ review.beer_id }}</p>
                                <p>{{ review.review }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <form class="beer-page__review__form" action="">
                        <p>Please type your review in the box below and hit submit.</p>
                        <div class="beer-page__review__form__group">
                            <textarea class="beer-page__review__form__group__message" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <input class="beer-page__review__form__submit btn btn__primary" type="submit" name="" id="">
                    </form>
                    <div class="beer-page__review__leave-a-review">
                        <a class="btn btn__primary" id="review-selector" href="#">Leave a review</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <h2 class="beer-page__bottom__title">You may also like...</h2>
                <div class="beer-page__bottom row">
                    {% for yml in you_might_like %}
                    {% include 'components/you-might-like.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>