<main class="beer-page">
    <div class="container">
        <section class="row beer-page__hero">
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__left-panel">
                    <p class="beer-page__left-panel__image-wrapper">
                        <img class="img-responsive" src="../{{ beer.image }}" alt="{{ beer.image_alt }}">
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="beer-page__right-panel">
                    <h1 class="beer-page__right-panel__title">{{ beer.name }}</h1>
                    <p class="beer-page__right-panel__text"><span>Type: </span>{{ beer.type }}</p>
                    <p class="beer-page__right-panel__text"><span>Brewery: </span>{{ beer.brewery }}</p>
                    <p class="beer-page__right-panel__text"><span>ABV (alchohol by volume): </span>{{ beer.abv }}
                    </p>
                    <p class="beer-page__right-panel__text"><span>Tasting Notes: </span>{{ beer.notes }}</p>
                </div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <h2 class="beer-page__bottom__title">You may also like...</h2>
                <div class="beer-page__bottom row">
                    {% for yml in you_might_like %}
                    {% include 'components/you-might-like.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>