.main-nav {
    padding: 20px 30px;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    width: 100%;
    position: fixed;;
    
    &__inner {
        padding: 0 40px;

        &__nav {
            list-style: none;
            display: flex;

            &__item {
                padding: 0 10px;
            }
        }

        &__logo {

            &__image {

            }
        }
    }
}
